/PLayer.class
/Room.class
/Map.class
/RoomInterface.class
/Player.class
/Enemy.class
/attackIntercepto.class
/attackInterceptor.class
/MapInterface.class
/EasyMap.class
/AttackInterceptor.class
/MapFactory.class
/HardMap.class
/Memento.class
/Main.class
